[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
pytz = "*"
flask-restful = "*"
flask = "*"
flask-jwt-extended = "*"
flasgger = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-cors = "*"
flask-serialize = "*"
serializer = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
