[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
flask-jwt-extended = "*"
flasgger = "*"
datetime = "*"
flask-cors = "*"
flask-serialize = "*"
serializer = "*"
requests = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.11"
